body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

embed {
  width: 500px;
  height: 550px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #131313;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  background-color: #666;
  cursor: not-allowed;
}
